<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required by the repo_sync feature in release builds. The debug
         and profile manifests inherit this declaration through Flutter's
         manifest merger; declaring it in the main manifest ensures it
         applies to release builds too. See ADR-0011 (network policy)
         and docs/standards/security-standards.md for the rules around
         when this permission may actually be exercised. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- Explicitly disable Flutter's built-in "intent data as
                 deep link" routing. ACTION_VIEW intents for .md files
                 arrive with file:// or content:// URIs that go_router
                 has no routes for; forwarding them would reproduce
                 the iOS AirDrop "Page Not Found" regression on
                 Android. FileOpenChannel below consumes the intent,
                 copies the payload into the sandbox, and emits the
                 sandbox path over an EventChannel. -->
            <meta-data
              android:name="flutter_deeplinking_enabled"
              android:value="false"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Open .md / .markdown files from the Files app, email
                 clients, and other file-providing apps. Both file://
                 and content:// URIs are handled by FileOpenChannel,
                 which copies content:// streams to the cache dir. -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/markdown"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/x-markdown"/>
            </intent-filter>
            <!-- Catch-all for .md files served with text/plain MIME.
                 Scoped to the specific extensions so we do not claim
                 every plain-text file on the device. -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"
                      android:pathPattern=".*\\.md"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"
                      android:pathPattern=".*\\.markdown"/>
            </intent-filter>
            <!-- Share-to: another app sends us a single markdown file. -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/markdown"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/x-markdown"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
